.menu{
	width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.menu a
{
	display: inherit;
}
.menu img
{
	width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.menu label
{
	text-align: center;
    margin: 0;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
.title 
{
	text-align: center;
}
.camera{
	background-image: url("../img/background.png");
}
.columna
{
	padding-right: 25%;
    padding-left: 25%;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}